/* *{
  border: solid red 1px;
} */

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  backdrop-filter: blur(3px);
}

.button{
background-color: transparent;
border: 1px solid #ffffff30;
color: #ffffff;
border-radius: 5px;
width: 4rem;
max-height: 3rem;
min-height: 1.8rem;
}

.button:hover{
  transition-duration: .3s;
  cursor: pointer;
  background-color: #ffffff30;
}

.logo{
  width: 12rem;
  margin: .8rem;
  display: flex;
  align-items: center;
}