@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace&display=swap");

body {
  /* display: flex;
  justify-content: center; */
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
  font-family: "Bruno Ace", cursive;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* background: linear-gradient(#004958,#508c15,#67cc02); */

  background-image: url(galaxia-en-el-espacio_2560x1440_xtrafondos.com.jpg);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* *{
  border: solid red 1px;
} */
